<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- botao utilizado para abrir menu em dispositivos resolucao menor -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll navbar-collapse collapse navbar-right">
          <a class="navbar-brand" href="{{ base_url }}"> <i class="fa fa-home" aria-hidden="true"></i> Home</a>
          <a class="navbar-brand" href="?about"><i class="fa fa-info" aria-hidden="true"></i> Sobre</a>
          <a class="navbar-brand" href="?concluido"><i class="fa fa-code" aria-hidden="true"></i> Projetos concluídos</a>
          <a class="navbar-brand" href="?contato"><i class="fa fa-phone" aria-hidden="true"></i> Fale comigo</a>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
